

body{
    background-color: #111827;
    margin: 3%;
}

.navigation ul{
	display: flex;
	flex-wrap: wrap;
	
  list-style-type: none;
	position: sticky;

  color:white;
  
}
.navigation ul li{
  float:left;
  padding:0px 10px 0px 0px;
  font-size: 25px;

}

.title-div3{ 
    color:white;
    padding:0px;
    margin:0px;

}

.container1{
    max-width: 100%;
    display:grid;
    grid-template-columns: 50% 30%;
    grid-template-rows: 1fr; 
    grid-column-gap: 200px;
    grid-row-gap: 15px;

  }

  .container2{
    max-width: 100%;
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 1fr; 
    grid-column-gap: 20px;
    padding-top: 50px;
  
    
  }
  .center{
    display:flex;
    justify-content:center;

}

  .container3{
    max-width: 1300px;
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 1fr; 
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding-top: 50px;
    
  }

  .container4{
    max-width: 1300px;
    display:grid;
    grid-template-columns: 50% 50% ;
    grid-template-rows: 1fr; 
    grid-column-gap: 120px;
    grid-row-gap: 20px;
    padding-top: 50px;
    
  }

  .opacity{
      opacity:0.6;
  }


  .grid-item { 
    width: 400px;
    color:white;
    
   }

 .grid-item3 { 
    width: 200px;
    color:white;
    
   }
   .bold{ 
    
    text-align: center;
    height: 200px;
    background-color: #1f2937;
}

 .bold3{ 
     width:250px;
     text-align: center;
     height: 200px;
     background-color: #1f2937;
     margin:30px;
 }

 .bold4{ 
  width:400px;
  text-align: center;
  height: 300px;
  background-color: #1f2937;
  margin:30px;
}

.by_number{

    display:flex;
    justify-content:space-around;
    color: aliceblue;
    padding-top: 0px;
    
    
}


.number-h1{
    padding-left: 110px;
    font-size: 30px;
    color:aliceblue;
}

.size-number{
    font-weight: bold;
    font-size: 25px;
}
.form-color{
 
  background-color:#1f2937;
  opacity:0.4px;
  
}

.form-input{
  background-color:#374151 ;
}
::placeholder{
  color:#d1d5db;

}